body {
  font-family: Inter; }

* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #dfe9eb; }

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: #757575;
  border-radius: 5px; }

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb; }

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #373737; }

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2; }

ul,
ol {
  padding: 0;
  margin: 0; }

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important; }

button {
  border: none;
  background: none; }

input:focus {
  outline: none !important; }

a:active,
a:focus {
  outline: 0;
  outline: none !important;
  border: none;
  -moz-outline-style: none; }

.navbar-toggler:focus {
  box-shadow: none !important; }

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.navbar {
  padding: 24px 0 54px 0; }
  .navbar-brand {
    color: #ff4c34;
    font-size: 36px;
    font-weight: 900;
    margin-right: 59px; }
  .navbar .navbar-brand:focus,
  .navbar .navbar-brand:hover {
    color: #ff4c34; }
  .navbar .navbar-brand:focus,
  .navbar .navbar-brand:hover {
    color: #ff4c34; }
  .navbar .search-form {
    margin-right: 40px; }
    .navbar .search-form .search-icon {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 16px; }
    .navbar .search-form .form-control {
      color: #8d8d8d;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 15px;
      border: 1px solid #ff4c34;
      padding-top: 12px;
      padding-left: 47px;
      padding-bottom: 12px;
      padding-right: 102px; }
    .navbar .search-form .form-control:focus {
      color: #ccc;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #ff4c3473; }
    .navbar .search-form .search-btn {
      right: 9px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 15px;
      background: #ff4c34;
      padding-top: 11px;
      padding-right: 13px;
      padding-bottom: 12px;
      padding-left: 12px;
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
  .navbar .location {
    border-radius: 15px;
    background: #ff4c34;
    cursor: pointer;
    padding-top: 12px;
    padding-right: 35px;
    padding-bottom: 11px;
    padding-left: 18px; }
    .navbar .location .location-icon {
      margin-right: 8px; }
    .navbar .location .location-text {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
  .navbar .sellect-language {
    margin-right: 38px;
    cursor: pointer;
    text-align: center; }
    .navbar .sellect-language .language-texts {
      outline: none;
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      /* Chrome, Safari, Opera */
      -moz-appearance: none;
      /* Firefox */
      appearance: none;
      /* Standart */
      text-align: center; }
    .navbar .sellect-language select::-ms-expand {
      display: none; }
    .navbar .sellect-language option {
      background-color: #ecf0f1;
      /* Optionning background rangi */
      color: #333;
      /* Optionning matn rangi */ }
  .navbar .login {
    border-radius: 15px;
    background: #ff4c34;
    padding: 11px 29px 12px 30px; }
    .navbar .login .login-link {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; }

.intro-cards {
  gap: 20px;
  justify-content: space-between; }
  .intro-cards .intro-card {
    background: url(../images/card-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 16px; }
    .intro-cards .intro-card:nth-child(2) {
      background: url(../images/card2-bg.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      flex-direction: row-reverse; }
    .intro-cards .intro-card:nth-child(3) {
      background: url(../images/card3-bg.png);
      background-repeat: no-repeat;
      background-size: 100% 100%; }
  .intro-cards .card-content .card-title {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 143.9%;
    text-transform: uppercase; }
  .intro-cards .card-content .card-description {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.9%;
    margin: 4px 0 12px 0; }
  .intro-cards .card-content .product-name {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 143.9%;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .intro-cards .card-content .go {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 15px;
    background: #ff4c34;
    padding: 11px 20px 12px 20px; }
  .intro-cards .card-img:nth-child(1) .product-image {
    transform: translate(34px, 10px); }
  .intro-cards .card-img:nth-child(2) .product-image {
    transform: translate(0px, 0px); }
  .intro-cards .last-image {
    transform: translate(28px, 0px) !important; }

.navbar .container {
  border-radius: 15px;
  background: #ff4c34;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
.navbar .nav-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  transition: all 0.2s linear; }
  .navbar .nav-link:focus {
    border-radius: 15px;
    background: #fff;
    padding: 8px 16px;
    color: #333 !important; }
.navbar .dropdown-menu {
  max-height: 257px;
  padding: 12px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 1px 3px 6px 2px rgba(138, 138, 138, 0.25); }
.navbar .dropdown-item {
  padding: 13px 0px 0px 0px; }
.navbar .dropdown {
  border-radius: 15px;
  border: 1px solid #fff; }
  .navbar .dropdown .btn-check:checked + .btn,
  .navbar .dropdown .btn.active,
  .navbar .dropdown .btn.show,
  .navbar .dropdown .btn:first-child:active,
  .navbar .dropdown :not(.btn-check) + .btn:active {
    color: #000;
    background-color: #fff;
    border-color: transparent;
    border-radius: 15px;
    border: 1px solid #fff; }
  .navbar .dropdown .btn {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; }
  .navbar .dropdown .panel1 {
    border-radius: 15px;
    background: #ff4c34;
    padding: 8px 31px; }
    .navbar .dropdown .panel1 .item {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-right: 16px;
      padding: 8px 16px; }
      .navbar .dropdown .panel1 .item:active {
        border-radius: 15px;
        background: #fff;
        padding: 8px 16px; }
      .navbar .dropdown .panel1 .item:last-child {
        margin-right: 0px; }
  .navbar .dropdown .panel2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 10px; }
    .navbar .dropdown .panel2 a {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
.navbar .dropdown-item-box {
  max-height: 135px;
  overflow-y: scroll;
  margin-bottom: 10px; }
.navbar .dropdown-toggle::after {
  display: none !important;
  margin-left: 0;
  vertical-align: 0;
  content: "";
  border-top: 0 solid;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent; }
.navbar .filter {
  margin-left: 8px; }
.navbar .dropdown-menu.setting-menu {
  max-height: 310px; }
  .navbar .dropdown-menu.setting-menu .title {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
  .navbar .dropdown-menu.setting-menu .form-check-input[type="radio"] {
    background-color: #d9d9d9; }
  .navbar .dropdown-menu.setting-menu .form-check-input[type="radio"]:checked {
    position: relative; }
    .navbar .dropdown-menu.setting-menu .form-check-input[type="radio"]:checked::after {
      position: absolute;
      content: "";
      width: 7px;
      height: 7px;
      background-color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
  .navbar .dropdown-menu.setting-menu .form-check-input[type="radio"]:checked {
    background-color: #ff4c34;
    position: relative; }
  .navbar .dropdown-menu.setting-menu .form-check-input:focus {
    border-color: #ff4c34c7;
    outline: 0;
    box-shadow: 0 0 0 0.025rem #ff4c3455; }

.intro-slider .slide-images {
  display: inline-block; }
.intro-slider .sale-box {
  border-radius: 15px;
  background: #00ae63;
  display: inline-flex !important;
  padding: 6px;
  top: 8px;
  left: 8px; }
  .intro-slider .sale-box .sale-text {
    color: #fff;
    font-family: Montserrat;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 6px; }
.intro-slider .delivery-bar {
  border-radius: 15px 15px 15px 0px;
  background: #ffc11e;
  display: inline-flex !important;
  padding: 6px;
  bottom: 0;
  right: 0; }
  .intro-slider .delivery-bar .delivery-bar-text {
    color: #fff;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 600;
    margin-left: 6px; }
.intro-slider .slide-bottom-bar .slide-product-name {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 8px 0 4px 0; }
.intro-slider .slide-bottom-bar .star-icon {
  margin-right: 4px; }
.intro-slider .slide-bottom-bar .rating-value {
  color: #afafaf;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }
.intro-slider .slide-bottom-bar .symbol-box {
  margin-left: 8px; }
.intro-slider .intro-slider {
  width: 100%; }

.slider-nav {
  width: 100%;
  margin-bottom: 14px; }

.swiper-pagination-bullet {
  border-radius: 7px;
  background: #ff4c3480; }

.swiper-pagination-bullet-active {
  width: 32px;
  height: 6px;
  background-color: #ff4c34; }

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 50% !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: 50%; }

.offer {
  margin-top: 48px; }
  .offer .offer-nav-title {
    margin-bottom: 24px;
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; }
  .offer .offer-cards {
    gap: 20px; }
  .offer .offer-card {
    max-width: 295px !important;
    background: url(../images/offer-card-img.png);
    background-size: 100% 100%;
    padding: 20px 41px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .offer .offer-card:nth-child(2) {
      background: url(../images/offer-card-img2.png);
      background-size: 100% 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      max-width: 295px !important;
      justify-content: space-between; }
    .offer .offer-card:nth-child(3) {
      background: url(../images/offer-card-img3.png);
      background-size: 100% 100%;
      padding: 20px;
      max-width: 295px !important; }
  .offer .offer-card-title {
    margin-bottom: 8px; }
  .offer .offer-card-title,
  .offer .product-name {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 143.9%;
    text-transform: uppercase;
    position: relative;
    z-index: 2; }
  .offer .offer-card-descr {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 143.9%;
    /* 23.024px */ }
    .offer .offer-card-descr span {
      color: #fff;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 143.9%; }
  .offer .offer-card-link {
    border-radius: 15px;
    background: #ff4c34;
    padding: 11px 20px;
    margin-top: 8px;
    display: inline-block;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    width: 106px; }
  .offer .link2 {
    width: 106px; }
  .offer .product-img {
    bottom: 0;
    right: 0; }
  .offer .offer-menu {
    color: #50005e;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.9%;
    /* 23.024px */
    padding-left: 20px;
    margin-bottom: 11px; }
    .offer .offer-menu p {
      margin-bottom: 4px;
      color: #fff; }
      .offer .offer-menu p:last-child {
        margin-bottom: 0; }
  .offer .product-price {
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 144%; }
  .offer sup {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.9%;
    /* 23.024px */
    text-decoration: line-through; }

.all-products .all-product {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 16px; }
.all-products .title {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  margin: 48px 0 24px 0; }
.all-products .product-card {
  display: inline-block; }
.all-products .sale-box {
  border-radius: 15px;
  background: #00ae63;
  padding: 6px;
  top: 8px;
  left: 8px; }
  .all-products .sale-box .sale-text {
    color: #fff;
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 600;
    margin-left: 5px; }
.all-products .delivery-bar {
  border-radius: 15px 15px 15px 0px;
  background: #ffc11e;
  padding: 6px;
  bottom: 0;
  right: 0; }
  .all-products .delivery-bar .delivery-bar-text {
    color: #fff;
    font-family: Montserrat;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 6px; }
.all-products .slide-bottom-bar .slide-product-name {
  color: #1e1e1e;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0 4px 0; }
.all-products .slide-bottom-bar .rating-value {
  color: #afafaf;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  margin: 0 8px 0 4px; }

.footer {
  margin-top: 150px;
  background: #f2f2f2; }
  .footer .container {
    padding: 40px 0; }
  .footer .title {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px; }
  .footer .menu1 {
    margin-right: 89px;
    list-style: none; }
    .footer .menu1:last-child {
      margin-right: 0; }
    .footer .menu1 li {
      list-style: none; }
  .footer .menu1 a {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
  .footer .about {
    margin-left: 197px; }
    .footer .about .about-menu {
      margin-bottom: 44px; }
    .footer .about .about-item {
      list-style: none; }
    .footer .about .about-link {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 400; }
    .footer .about .email {
      display: flex;
      align-items: center; }
      .footer .about .email .email-text a {
        color: #1e1e1e;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        margin-left: 8px; }

@media screen and (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1240px; } }
@media screen and (max-width: 1188px) {
  .intro-cards {
    display: grid !important;
    grid-template-columns: auto auto !important; }

  .intro-cards .intro-card:nth-child(1) {
    justify-self: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3; }
    .intro-cards .intro-card:nth-child(1) .card-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px; } }
@media screen and (max-width: 1024px) {
  .offer .offer-cards {
    display: grid !important;
    grid-template-columns: auto auto auto !important; }

  .all-products .all-product {
    grid-template-columns: auto auto auto !important;
    justify-content: space-between; } }
@media screen and (max-width: 768px) {
  .intro-slider .slide-images {
    width: 100%; }

  .intro-cards {
    grid-template-columns: auto auto !important;
    grid-template-rows: repeat(3, auto);
    gap: 10px; }

  .intro-card:nth-child(1) .card-content {
    padding: 16px !important;
    display: inline-block !important; }

  .intro-card:nth-child(2) {
    grid-row-start: 3;
    grid-row-end: 4; }

  .intro-card:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3; }

  .intro-cards .intro-card:nth-child(1) {
    justify-self: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 1; }
    .intro-cards .intro-card:nth-child(1) .card-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px; }

  .offer-nav .offer-cards {
    grid-template-columns: repeat(2, auto) !important; }
  .offer-nav .offer-card:nth-child(1) {
    max-width: 100% !important; }
  .offer-nav .offer-card:nth-child(3) {
    max-width: 100% !important; }

  .all-products .all-product {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 8px !important; }
  .all-products .slide-images {
    width: 100%; }

  .footer .container {
    flex-wrap: wrap;
    gap: 20px; }
  .footer .about {
    margin-left: 0; } }
@media screen and (max-width: 425px) {
  .intro-cards {
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto !important; }

  .intro-card:nth-child(1) .card-content {
    padding: 16px !important;
    display: inline-block !important; }

  .intro-card:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2; }

  .intro-card:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3; }

  .intro-card:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3; }

  .navbar .container {
    border-radius: 0px; }

  .offer-nav .offer-cards {
    grid-template-columns: auto !important; }

  .offer-nav .offer-card:nth-child(2) {
    max-width: 100% !important; }

  .offer-nav .offer-card:nth-child(4) {
    max-width: 100% !important; }

  .all-products .all-product {
    grid-template-columns: auto !important; }

  .all-products .product-card {
    width: 100%; }

  .all-products .slide-images {
    width: 100% !important; }

  .navbar .nav-item {
    padding: 10px 0px; } }
@media screen and (max-width: 375px) {
  .footer .container {
    padding: 20px 10px 0px 10px; }

  .kitchen-menu {
    display: grid !important;
    grid-template-columns: auto auto !important;
    gap: 10px; }

  .intro-card:last-child {
    margin-right: 10px; }

  .navbar .nav-item {
    padding: 10px 0px; } }

/*# sourceMappingURL=main.css.map */
