// custom css
body {
  font-family: Inter;
}

// scroll
* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #dfe9eb;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: #757575;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #373737;
}
// scroll

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  outline: none !important;
  border: none;
  -moz-outline-style: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// nav style strat
.navbar {
  padding: 24px 0 54px 0;
  &-brand {
    color: #ff4c34;
    font-size: 36px;
    font-weight: 900;
    margin-right: 59px;
  }
  .navbar-brand:focus,
  .navbar-brand:hover {
    color: #ff4c34;
  }
  .navbar-brand:focus,
  .navbar-brand:hover {
    color: #ff4c34;
  }
  .search-form {
    margin-right: 40px;
    .search-icon {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 16px;
    }
    .form-control {
      color: #8d8d8d;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 15px;
      border: 1px solid #ff4c34;
      padding: {
        top: 12px;
        left: 47px;
        bottom: 12px;
        right: 102px;
      }
    }
    .form-control:focus {
      color: #ccc;
      background-color: transparent;
      border-color: transparent;
      outline: 0;
      box-shadow: 0 0 0 0.25rem #ff4c3473;
    }
    .search-btn {
      right: 9px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 15px;
      background: #ff4c34;
      padding: {
        top: 11px;
        right: 13px;
        bottom: 12px;
        left: 12px;
      }
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .location {
    border-radius: 15px;
    background: #ff4c34;
    cursor: pointer;
    padding: {
      top: 12px;
      right: 35px;
      bottom: 11px;
      left: 18px;
    }
    .location-icon {
      margin-right: 8px;
    }
    .location-text {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .sellect-language {
    margin-right: 38px;
    cursor: pointer;
    text-align: center;
    .language-texts {
      outline: none;
      border: none;
      background-color: transparent;
      -webkit-appearance: none; /* Chrome, Safari, Opera */
      -moz-appearance: none; /* Firefox */
      appearance: none; /* Standart */
      text-align: center;
    }
    select::-ms-expand {
      display: none;
    }
    option {
      background-color: #ecf0f1; /* Optionning background rangi */
      color: #333; /* Optionning matn rangi */
    }
  }
  .login {
    border-radius: 15px;
    background: #ff4c34;
    padding: 11px 29px 12px 30px;
    .login-link {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

// Intro card style start
.intro-cards {
  gap: 20px;
  justify-content: space-between;
  .intro-card {
    background: url(../images/card-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 16px;
    &:nth-child(2) {
      background: url(../images/card2-bg.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      flex-direction: row-reverse;
    }
    &:nth-child(3) {
      background: url(../images/card3-bg.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  .card-content {
    .card-title {
      color: #fff;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 143.9%;
      text-transform: uppercase;
    }
    .card-description {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 143.9%;
      margin: 4px 0 12px 0;
    }
    .product-name {
      color: #fff;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      line-height: 143.9%;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    .go {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border-radius: 15px;
      background: #ff4c34;
      padding: 11px 20px 12px 20px;
    }
  }
  .card-img {
    &:nth-child(1) {
      .product-image {
        transform: translate(34px, 10px);
      }
    }
    &:nth-child(2) {
      .product-image {
        transform: translate(0px, 0px);
      }
    }
  }
  .last-image {
    transform: translate(28px, 0px) !important;
  }
}

// Navbar style start
.navbar {
  .container {
    border-radius: 15px;
    background: #ff4c34;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  //   .active {
  //     border-radius: 15px;
  //     background: #fff;
  //     padding: 8px 16px;
  //     color: #333 !important;
  //   }
  .nav {
    &-link {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      padding: 8px 16px;
      transition: all 0.2s linear;
      &:focus {
        border-radius: 15px;
        background: #fff;
        padding: 8px 16px;
        color: #333 !important;
      }
    }
  }
  .dropdown-menu {
    max-height: 257px;
    padding: 12px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 1px 3px 6px 2px rgba(138, 138, 138, 0.25);
  }
  .dropdown-item {
    padding: 13px 0px 0px 0px;
  }
  .dropdown {
    border-radius: 15px;
    border: 1px solid #fff;
    .btn-check:checked + .btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check) + .btn:active {
      color: #000;
      background-color: #fff;
      border-color: transparent;
      border-radius: 15px;
      border: 1px solid #fff;
    }
    .btn {
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    // panel1 👇
    .panel1 {
      border-radius: 15px;
      background: #ff4c34;
      padding: 8px 31px;
      .item {
        color: #fff;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 16px;
        padding: 8px 16px;
        &:active {
          border-radius: 15px;
          background: #fff;
          padding: 8px 16px;
        }
        &:last-child {
          margin-right: 0px;
        }
      }
    }
    // panel1 👆
    // panel2 👇
    .panel2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
      margin-bottom: 10px;
      a {
        color: #1e1e1e;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    // panel2 👆
  }
  .dropdown-item-box {
    max-height: 135px;
    overflow-y: scroll;
    margin-bottom: 10px;
  }
  .dropdown-toggle::after {
    display: none !important;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 0 solid;
    border-right: 0 solid transparent;
    border-bottom: 0;
    border-left: 0 solid transparent;
  }
  .filter {
    margin-left: 8px;
  }
  // setting-menu dropdown
  .dropdown-menu.setting-menu {
    max-height: 310px;
    .title {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .form-check-input[type="radio"] {
      background-color: #d9d9d9;
    }
    .form-check-input[type="radio"]:checked {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }
    .form-check-input[type="radio"]:checked {
      background-color: #ff4c34;
      position: relative;
    }
    .form-check-input:focus {
      border-color: #ff4c34c7;
      outline: 0;
      box-shadow: 0 0 0 0.025rem #ff4c3455;
    }
  }

  //
}

// Intro slide

.intro-slider {
  .slide-images {
    display: inline-block;
  }
  .sale-box {
    border-radius: 15px;
    background: #00ae63;
    display: inline-flex !important;
    padding: 6px;
    top: 8px;
    left: 8px;
    .sale-text {
      color: #fff;
      font-family: Montserrat;
      font-size: 9px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 6px;
    }
  }
  .delivery-bar {
    border-radius: 15px 15px 15px 0px;
    background: #ffc11e;
    display: inline-flex !important;
    padding: 6px;
    bottom: 0;
    right: 0;
    .delivery-bar-text {
      color: #fff;
      font-family: Montserrat;
      font-size: 9px;
      font-weight: 600;
      margin-left: 6px;
    }
  }
  .slide-bottom-bar {
    .slide-product-name {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 8px 0 4px 0;
    }
    .star-icon {
      margin-right: 4px;
    }
    .rating-value {
      color: #afafaf;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .symbol-box {
      margin-left: 8px;
    }
  }
  .intro-slider {
    width: 100%;
  }
}

.slider-nav {
  width: 100%;
  margin-bottom: 14px;
}

.swiper-pagination-bullet {
  border-radius: 7px;
  background: #ff4c3480;
}

.swiper-pagination-bullet-active {
  width: 32px;
  height: 6px;
  background-color: #ff4c34;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 50% !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: 50%;
}

// Intro slide

// offer
.offer {
  margin-top: 48px;
  .offer-nav-title {
    margin-bottom: 24px;
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .offer-cards {
    gap: 20px;
  }
  .offer-card {
    max-width: 295px !important;
    // height: 362px;
    background: url(../images/offer-card-img.png);
    background-size: 100% 100%;
    padding: 20px 41px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(2) {
      background: url(../images/offer-card-img2.png);
      background-size: 100% 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      max-width: 295px !important;
      justify-content: space-between;
    }
    &:nth-child(3) {
      background: url(../images/offer-card-img3.png);
      background-size: 100% 100%;
      padding: 20px;
      max-width: 295px !important;
    }
  }
  .offer-card-title {
    margin-bottom: 8px;
  }
  .offer-card-title,
  .product-name {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 143.9%;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
  }
  .offer-card-descr {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 143.9%; /* 23.024px */
    span {
      color: #fff;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 143.9%;
    }
  }
  .offer-card-link {
    border-radius: 15px;
    background: #ff4c34;
    padding: 11px 20px;
    margin-top: 8px;
    display: inline-block;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    width: 106px;
  }
  .link2 {
    width: 106px;
  }
  .product-img {
    bottom: 0;
    right: 0;
  }
  .offer-menu {
    color: #50005e;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.9%; /* 23.024px */
    padding-left: 20px;
    margin-bottom: 11px;
    p {
      margin-bottom: 4px;
      color: #fff;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .product-price {
    color: #fff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 144%;
  }
  sup {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.9%; /* 23.024px */
    text-decoration: line-through;
  }
}

// <-- All product styles section -->
.all-products {
  .all-product {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 16px;
  }
  .title {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    margin: 48px 0 24px 0;
  }
  .product-card {
    display: inline-block;
  }
  .sale-box {
    border-radius: 15px;
    background: #00ae63;
    padding: 6px;
    top: 8px;
    left: 8px;
    .sale-text {
      color: #fff;
      font-family: Montserrat;
      font-size: 9px;
      font-weight: 600;
      margin-left: 5px;
    }
  }
  .delivery-bar {
    border-radius: 15px 15px 15px 0px;
    background: #ffc11e;
    padding: 6px;
    bottom: 0;
    right: 0;
    .delivery-bar-text {
      color: #fff;
      font-family: Montserrat;
      font-size: 9px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 6px;
    }
  }
  .slide-bottom-bar {
    .slide-product-name {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 600;
      margin: 8px 0 4px 0;
    }
    .rating-value {
      color: #afafaf;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 400;
      margin: 0 8px 0 4px;
    }
  }
}

// <-- Footer styles section -->
.footer {
  margin-top: 150px;
  background: #f2f2f2;
  .container {
    padding: 40px 0;
  }
  .title {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .menu1 {
    margin-right: 89px;
    list-style: none;
    &:last-child {
      margin-right: 0;
    }
    li {
      list-style: none;
    }
  }
  .menu1 a {
    color: #1e1e1e;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .about {
    margin-left: 197px;
    .about-menu {
      margin-bottom: 44px;
    }
    .about-item {
      list-style: none;
    }
    .about-link {
      color: #1e1e1e;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 400;
    }
    .email {
      display: flex;
      align-items: center;
      .email-text a {
        color: #1e1e1e;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        margin-left: 8px;
      }
    }
  }
}

// small media queries
@media screen and (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1240px;
  }
}

@media screen and (max-width: 1188px) {
  .intro-cards {
    display: grid !important;
    grid-template-columns: auto auto !important;
  }
  .intro-cards .intro-card:nth-child(1) {
    justify-self: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
    .card-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .offer .offer-cards {
    display: grid !important;
    grid-template-columns: auto auto auto !important;
  }
  .all-products .all-product {
    grid-template-columns: auto auto auto !important;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .intro-slider .slide-images {
    width: 100%;
  }
  .intro-cards {
    grid-template-columns: auto auto !important;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
  .intro-card:nth-child(1) {
    .card-content {
      padding: 16px !important;
      display: inline-block !important;
    }
  }
  .intro-card:nth-child(2) {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .intro-card:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .intro-cards .intro-card:nth-child(1) {
    justify-self: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 1;
    .card-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 40px;
    }
  }
  .offer-nav {
    .offer-cards {
      grid-template-columns: repeat(2, auto) !important;
    }
    .offer-card:nth-child(1) {
      max-width: 100% !important;
    }
    .offer-card:nth-child(3) {
      max-width: 100% !important;
    }
  }
  .all-products {
    .all-product {
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 8px !important;
    }
    .slide-images {
      width: 100%;
    }
  }
  .footer {
    .container {
      flex-wrap: wrap;
      gap: 20px;
    }
    .about {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 425px) {
  // intro
  .intro-cards {
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto !important;
  }
  .intro-card:nth-child(1) {
    .card-content {
      padding: 16px !important;
      display: inline-block !important;
    }
  }
  .intro-card:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .intro-card:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .intro-card:nth-child(3) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .navbar .container {
    border-radius: 0px;
  }

  .offer-nav .offer-cards {
    grid-template-columns: auto !important;
  }
  .offer-nav .offer-card:nth-child(2) {
    max-width: 100% !important;
  }

  .offer-nav .offer-card:nth-child(4) {
    max-width: 100% !important;
  }

  .all-products .all-product {
    grid-template-columns: auto !important;
  }

  .all-products .product-card {
    width: 100%;
  }

  .all-products .slide-images{
    width: 100% !important;
  }
}

@media screen and (max-width: 375px) {
  .footer .container {
    padding: 20px 10px 0px 10px;
  }
  .kitchen-menu {
    display: grid !important;
    grid-template-columns: auto auto !important;
    gap: 10px;
  }
}